---
http_interactions:
- request:
    method: get
    uri: https://www.findanyfilm.com/api/screenings/by_venue_id/venue_id/6919/date_from/2018-05-18
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: ASCII-8BIT
      string: '{"6919":{"name":"VUE Westfield London","address1":"Westfield London,
        <br \/> Ariel Way, <br \/> London","towncity":"Hammersmith","show_towncity":true,"postcode":"W12
        7GF","website":"https:\/\/www.myvue.com\/cinema\/westfield?SC_CMP=AFF_indtrust","phone":"","distance":"-1","lat":"51.507446","lon":"-0.220016","films":{"155734":{"showings":[{"enabled":false,"showtime":"2018-05-18
        00:00:00","display_showtime":"00:00","ticketing_link":"https:\/\/www.myvue.com\/book-tickets\/summary\/10072\/163254\/272839?SC_CMP=AFF_indtrust"},{"enabled":false,"showtime":"2018-05-18
        09:45:00","display_showtime":"09:45","ticketing_link":"https:\/\/www.myvue.com\/book-tickets\/summary\/10072\/163254\/270364?SC_CMP=AFF_indtrust"},{"enabled":true,"showtime":"2018-05-18
        11:00:00","display_showtime":"11:00","ticketing_link":"https:\/\/www.myvue.com\/book-tickets\/summary\/10072\/163254\/273894?SC_CMP=AFF_indtrust"},{"enabled":true,"s[...]
