---
http_interactions:
- request:
    method: get
    uri: https://www.findanyfilm.com/api/screenings/by_venue_id/venue_id/7955/date_from/2016-11-14
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: ''
    headers:
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"7955":{"name":"ArtHouse Crouch End","address1":"159A Tottenham Ln","towncity":"London","show_towncity":true,"postcode":"N8
        9BT","website":"http:\/\/arthousecrouchend.savoysystems.co.uk\/ArtHouseCrouchEnd.dll","phone":"020
        8245 3099","distance":"-1","lat":"51.581852","lon":"-0.122228","films":{"146186":{"showings":[{"enabled":true,"showtime":"2016-11-14
        12:00:00","display_showtime":"12:00","ticketing_link":"http:\/\/arthousecrouchend.savoysystems.co.uk\/ArtHouseCrouchEnd.dll\/TSelectItems.waSelectItemsPrompt.TcsWebMenuItem_0.TcsWebTab_0.TcsPerformance_3507581.TcsSection_11158"},{"enabled":true,"showtime":"2016-11-14
        17:30:00","display_showtime":"17:30","ticketing_link":"http:\/\/arthousecrouchend.savoysystems.co.uk\/ArtHouseCrouchEnd.dll\/TSelectItems.waSelectItemsPrompt.TcsWebMenuItem_0.TcsWebTab_0.TcsPerformance_3507585.TcsSection_11158"}],"film_data":{"film_id":"146186","film_title":"A
        Street Cat Named Bob","release_year":"2016","has_3d_version":"0","certificate":"12A","slug":"A-Street-Cat-Named-Bob"}},"148367":{"showings":[{"enabled":true,"showtime":"2016-11-14
        12:30:00","display_showtime":"12:30","ticketing_link":"http:\/\/arthousecrouchend.savoysystems.co.uk\/ArtHouseCrouchEnd.dll\/TSelectItems.waSelectItemsPrompt.TcsWebMenuItem_0.TcsWebTab_0.TcsPerformance_3507704"},{"enabled":true,"showtime":"2016-11-14
        18:00:00","display_showtime":"18:00","ticketing_link":"http:\/\/arthousecrouchend.savoysystems.co.uk\/ArtHouseCrouchEnd.dll\/TSelectItems.waSelec[...]
