<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
	<meta name="author" content="Nick Charlton">
    <meta name="description" content="An API for FindAnyFilms; 
        a directory of films and UK Cinema Listings">

    <title>moviesapi &mdash; An API for Movies and UK Cinema Listings</title>
		
	<!-- sensible default styles -->
	<link rel="stylesheet" href="/stylesheets/normalize.css">
    <!-- pretty custom styles -->
    <link rel="stylesheet" href="/stylesheets/main.css">
  </head>
	
  <body>
    <%= yield %>

    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-108073191-2"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-108073191-2');
    </script>
  </body>
</html>

